<h1>Meal input</h1>

<h2 id="restaurantInfo" data-id="{{restaurantid.id}}" data-name="{{restaurantid.name}}">add a meal for {{restaurantid.name}}</h2>

<span class="span">Meal item</span>
<input type="text" name="meal-item" id="mealItem">
<br>
<br>

<span class="span">Rating</span>
<select name="meal-rating" id="mealRating">
    <option value=""></option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
</select>

<br>
<br>

<p>Pros</p>
<textarea name="rating-pros" id="ratingPros" cols="30" rows="10" placeholder="what were the pros?"></textarea>

<p>Cons</p>
<textarea name="rating-cons" id="ratingCons" cols="30" rows="10" placeholder="What were the cons?"></textarea>

<br>
<button type="submit" id="submit-meal">Submit</button>

<div class="error"></div>

