<h1>Add a Restaurant</h1>


<p>Restaurant Name</p>
<input type="text" name="userRestaurant" id="user-restaurant" placeholder="Restaurant Name">
<br>
<p>Restaurant City</p>
<input type="text" name="userCity" id="user-city" placeholder="Restaurant City">
<br>
<p>Restaurant State</p>
<input type="text" name="userState" id="user-state" placeholder="Restaurant State">
<br>

<button type="submit" id="submit-restaurant" class="search-submit">Submit</button>

<div class="error"></div>


