<h1>restaurant input</h1>


<p>Restaurant Name</p>
<input type="text" name="userRestaurant" id="user-restaurant" placeholder="restaurant name">
<br>
<p>Restaurant City</p>
<input type="text" name="userCity" id="user-city" placeholder="restaurant city">
<br>
<p>Restaurant State</p>
<input type="text" name="userState" id="user-state" placeholder="restaurant state">
<br>

<button type="submit" id="submit-restaurant">submit</button>


