<h1>restaurant input</h1>

<a href="/">home</a>
<a href="/allRestaurants">Search for a Restaurant</a>
<a href="/allRestaurants">All Restaurants</a>
<br>

<p>Restaurant Name</p>
<input type="text" name="userRestaurant" id="user-restaurant" placeholder="restaurant name">
<br>
<p>Restaurant City</p>
<input type="text" name="userCity" id="user-city" placeholder="restaurant city">
<br>
<p>Restaurant State</p>
<input type="text" name="userState" id="user-state" placeholder="restaurant state">
<br>

<button type="submit" id="submit-restaurant">submit</button>


