<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12" id="topArticles">
            <div class="panel">
                <div class="panel-body" id="div-section">
                    <!-- ============================================================================= -->
                    <!-- Grid -->
                    <div class="container" id="gridContainer">
                        <h1 class="text-center">Search Restaurants</h1>

                        <input type="text" name="searchRestaurant" id="search-restaurant"
                            placeholder="search for a restaurant">
                        <button type="submit" id="search-submit">Submit</button>

                    </div>

                </div>
            </div>
        </div>
    </div>