<h2>
    Search Results
</h2>

{{#each restaurants}}
<hr class="restaurantSplit" <ol>
<a href="/restaurantInfo/{{this.id}}">
    <h3>{{this.restaurant_name}}</h3>
</a>

<p>{{this.city}}, {{this.state}}</p>


{{/each}}
</ol>

<hr class="restaurantSplit">

<h2>Didn't find what you were looking for?</h2>
<h3>
    <a href="/addRestaurant" class="search-submit">
        submit a new restaurant
    </a>
</h3>