<h2>My Reviews</h2>
<ul>
    {{#each reviewData.Ratings}}
    <li>
        Rating: {{rating}}
        comment: {{comment}}
        Restaurant: {{Restaurant.restaurant_name}}
    </li>
    {{/each}}
</ul>