*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

body {
   /* font-family: 'Lato', Calibri, Arial, sans-serif;*/
    background: #000044;
    font-weight: 300;
    font-size: 15px;
    color: rgb(255, 255, 255);
    overflow: scroll;
	overflow-x: hidden;
}

.views {
	width: 80vw;
	margin: auto;
	background-color: maroon;
	padding: 10px;
	margin-top: 2vw;
	border-radius: 10px;
	padding-left: 3vw;
	padding-right: 3vw;
	padding-bottom: 3vw;
}

.resInfoButt {
	background-color: #000044;
	border: none;
	border-radius: 10px;
	padding: 5px 10px;
	float: right;
	margin: 10px;
	margin-top: 20px;
}

#resRatingAvg {
	width: 50vw;
}

#submit-meal {
	background-color: #000044;
	border: none;
	border-radius: 10px;
	padding: 5px 10px;
	margin: 10px;
}

p{
	margin-top: 10px;
}

.panel {
	border: none;
}

.panel-body{
	background-color: maroon;
}

#resRating-submit {
	background-color: #000044;
	border: none;
	border-radius: 10px;
	padding: 5px 10px;
	margin: 10px;
}

.search-submit {
	background-color: #000044;
	border: none;
	border-radius: 10px;
	padding: 5px 10px;
	margin: 10px;
}

.restaurantSplit {
	width: 90%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.resRatingName {
	font-size: 2rem;
}

.inline {
	display: inline;
}

.restaurantRatings {
	background-color: #000044;
	padding: 10px;
	padding-left: 2vw;
	border-radius: 10px;
	margin-top: 20px;
	width: 35vw;
	float: left;
}

li {
	margin-bottom: 10px;
}

input {
	color: black;
	margin-left: 10px;
	border: none;
	border-radius: 5px;
	width: 50%;
	padding: 5px 10px;
}

textarea {
	color: black;
	margin-left: 10px;
	border: none;
	border-radius: 5px;
}

select {
	color: black;
	margin-left: 10px;
}

.menuRatings {
	background-color: #000044;
	padding: 10px;
	padding-left: 2vw;
	border-radius: 10px;
	margin-top: 20px;
	width: 35vw;
	float: right;
}

a {
	color: rgb(255, 255, 255);
	text-decoration: none;
}

.container {
	width: 100%;
	position: relative;
}

.container > header {
	width: 90%;
	max-width: 1240px;
	margin: 0 auto;
	position: relative;
	padding: 0 30px 50px 30px;
}

.container > header {
	padding: 60px 30px 50px;
	text-align: center;
}

.container > header h1 {
	font-size: 34px;
	line-height: 38px;
	margin: 0 auto;
	font-weight: 700;
	color: #333;
}

.container > header h1 span {
	display: block;
	font-size: 20px;
	font-weight: 300;
}

.main > p {
	text-align: center;
	padding: 50px 20px;
}